*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#5e4242,#ddd2d2, #263c58);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
    color: #0f0c0c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.calculator{
    border: 1px solid #0f0f0f;
    padding: 20px;
    border-radius: 20px;
    background: transparent;
    background-color: rgba(49, 8, 78, 0.486);
    box-shadow: 0px 3px 15px rgba(25, 25, 26, 0.5)
}

input{
    width: 390px;
    border: none;
    padding: 34px;
    margin: 10px;
    background: transparent;
    background-color: rgb(173, 157, 179);
    box-shadow: 0px 9px 25px rgba(92, 92, 92, 0.1);
    border-radius: 20px;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: #0e0707;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #160f0f;
    font-size: 22px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
button:hover{
    box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px rgba(255, 255, 255, 0.1);
}

.equal{
    background-color: #9e1e1e;
}

.operators{
    color: rgb(207, 250, 250);
}
