/* *{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://www.squash.io/wp-content/uploads/2023/11/javascript-series.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100%;
    line-height: 1.6;
    padding: 20px;
    overflow: hidden;
}
.container{
    max-width: 300px;
    margin: auto;
    margin-left: 10vh;
    margin-top: 20vh;
    background: rgba(198, 209, 101, 0.219);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.container:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: transform 0.3s normal;

}

h1{
    color: white;
    font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}
p{
    color: white;
    font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 18px;
    margin-bottom: 15px;
} */